"*":
  "exception-reporting":
    userId: "1cd4fca7-1450-28c2-452c-7509eab26c13"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "gruvbox"
    ]
  editor:
    fontSize: 12
    invisibles: {}
